body {
    margin: 0;
    padding: 0%;
    font-family: 'montserrat', sans-serif;
    background-color: #fffffe;
    text-align: center;
  }
  
  a {
    color: #fffffb;
  }

  :root{
    --black: #1f1f1f;
    --darkblue:#2658de;
    --blue: #3494fa;
    --grey:#adadad;
    --white:#fafafa;
    --shaddow: 2px 2px 2px 2px rgba(78, 78, 78, 0.63); 
}

  
  /* header */
  
  .header {
    background-color: #3494fa;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #3494fa;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #3494fa;
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f10000;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #fafafa;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #fafafa;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 340px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
  
  /*Alexander*/
  /*knap styling*/

  .btnbook {
    background-color: #f10000;
    border-radius: 40px;
    color: #f4f4f4;
    height: 40px;
    border: none;
}

.finans {
  background-color: #3494fa;
  border-radius: 40px;
  color: #f4f4f4;
  height: 40px;
  border: none;
}



/* hr streg styling*/

hr {
  align-items: center;
    border: 1px solid #3294FA;
}

/*Overskrift*/

.overskrift {
    padding-top: 50px;
    margin-left: 0%;

}
.overskrift h1 {
    text-align: left;
    color: #282830;
    margin-bottom: 0%;
    margin-left: 75px;
    margin-top: 50px;
}

.overskrift hr {
    align-items: center;
    border: 1px solid #3294FA;
    width: 15rem;
    margin-top: 0%;
    margin-bottom: 2rem;
}


/*sektion info*/

.info {
  text-align: center;
  width: 90%;
  margin: auto;
  color: #282830;
  margin-bottom: 30px;
}



/*sektion om brugte biler*/

  .easygray {
      background-color: #eff0f0;
      text-align: center;
      width: 90%;
      margin: auto;
      margin-bottom: 30px;
      display: flex;
      flex-direction: row;
  
      }

  .easygray img {        
    max-width: 30%;
    margin-left: 5%;
    left: 0%;
      height: auto;        
  }

  .easygray h3 {
    position: absolute;
    right: 100px;   
    color: #282830;
    font-size: 14px;
    text-align: right;
    margin-top: 3%
  }
  

  .easygray h2 {
    position: absolute;
    right: 100px;
    margin-top: 10%;
    text-align: right;
    color: #282830;
    
    
  }

  .easygray div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .btnbook{
      position: absolute;
      right: 100px;
      margin-top: 15%;
      
  }
  .finans{
    position: absolute;
    right: 100px;
    margin-top: 15%;
    margin-right: 10%;
    
}
  /*find os overskrift*/
.findos {
margin-left: 3%;
margin-top: 30px;
}
.findos h1 {
 text-align: center;
 color: #282830;
 margin-bottom: 0%;
}

.findos hr {
 align-items: center;
 border: 1px solid #3294FA;
 width: 15rem;
 margin-top: 0%;
 margin-bottom: 2rem;
 }



/*Book prøvetur styling*/

.booktid {
background-color: #f10000;
width: auto;  
border-radius: 5px;
  color: #f4f4f4;
  height: 40px;
  border: none;
  
}
.book {
   display: flex;
   flex-direction: column;
   align-items: center;
     }

input[type=text], select, textarea {
 width: 90%;
 padding: 3px;
 margin: 5px;
 background-color: #fffffb;
  
 }
 
 input[type=number], select, textarea {
     width: 90%;
     padding: 3px;
     margin: 5px;
     background-color: #fffffb;
     }

 ::placeholder {
     color: #282830;
 }
 
 .book label {
     color: #282830;
 }
/*book knap*/

.book button {
 width: 100px;
 margin-top: 20px;
 }

/*find os kort og tekst*/
 .find {
     text-align: center;
     width: 90%;
     margin: auto;
     margin-bottom: 30px;
 }

 .find img {
     max-width: 90%;
     height: auto;        
 }

 .find h3 {
     color: #fafafa;
     text-align: left;
     margin-left: 5%;
 }

 .findos {
     margin-bottom: 20px;
 }
    /*Shajah*/

    /*section*/

.section {
  overflow: hidden;
  margin: auto;
  max-width: 1400px;
}

.section a {
  position: relative;
  float: left;
  width: 100%;
}

.section a img {
  width: 100%;
  display: block;
}

.section a span {
  color: #fff;
  position: absolute;
  left: 5%;
  bottom: 5%;
  font-size: 2em;
  text-shadow: 1px 1px 0 #000;
}

.section-split a span {
  display: none;
}

.section-split a:hover span {
  display: block;
}

.videor {
  position: absolute;
  margin-top: 80px;
    
}

/* 48em = 768px */

@media (min-width: 48em) {
  .section-split a {
    width: 50%;
  }
}

/*Nicoline*/
  
/* finansiering*/
.finansiering {
  padding: 1rem;
  background-color: var(--white);
}

.finansiering h1 {
  color: var(--black);
  font-size: 2.5rem;
  text-align: left;
  margin-top: 8rem;
  padding-left: 120px;
}

.finansiering p {
  color: var(--black);
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: left;
  margin-top: 3rem;
  margin-left: 120px;
  margin-right: 110px;

}


/* Stock section */

.stocks-section {
  background-color: var(--white);
}

.stocks-section h2{
  text-align: center;
  font-size: 1.3em;
  color: var(--black);
}

.stock-card-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 6.5rem;
  padding-right: 6.5rem;
  padding-bottom: 70px;
}

.afdragsordning {
  background-color: var(--grey);
  width: 80%;
  border-radius: 6px;
  box-shadow: var(--shaddow);
  padding-bottom: 10rem;
  padding-top: 3rem;
  margin: 30px;
}
.afdragsordning li{
  color: var(--black);
  text-align: center;
  padding: 8px;
}
.afdragsordning ul{
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding:0;
  padding-top: 40px;
  padding-bottom: 10px;
  font-size: 1.2rem;
}

.garanti{
  margin: 0;
  margin-left: -20px;
  margin-right: -20px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.250), rgba(255, 255, 255, 0.250)), url("garanti.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 100px;
  
}

.garanti h4{
  color: var(--black);
  text-shadow: 2px 2px 4px #ffffff;
  font-size: 2.5rem;
  text-align: left;
  margin-left: 100px;
}
.garanti p{
  color: var(--black);
  text-shadow: 2px 2px 4px #ffffff;
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
}


@media (max-width: 640px) {
  .stock-card-area{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .garanti{
  background-size: 300%;
  }
  .garanti h4{
    margin: 0;
    text-align: center;
  }
  .garanti p{
    margin: 0;
    text-align: center;
  }

  .finansiering h1 {
    padding: 0;
  }
  
  .finansiering p {
    margin: 0;
  
  }
}
   
  /*footer styling*/
  
  footer {
    color: #fff;
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
    background-color: var(--blue);
    box-sizing: border-box ;
    opacity: 89%;
    position: relative;
  
  }
  .footer-text {
    text-align: left;
  }

  .trust{
    position: absolute;
    right: 5%;
    width: 10%;
    height: auto;
  }


  /* shajah*/
  
.cards {
  display: grid;
  margin: 0 auto;
  max-width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(33.33%, 1fr));
  grid-auto-rows: 3;
  gap: 0px;
 
}

.cards * {
  box-sizing: border-box;
  margin-top: 30px;
  
  
  
}

.card__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: grid;
  border-top: 2px solid #333333;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333;
  

}

.card__content {
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
  color: #000000;
  background: #ffffff;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333;
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;
 
}

.card__content > p:first-of-type {
  margin-top: 0;
  
}

.card__content > p:last-of-type {
  margin-bottom: 0;

}



.card__info i {
  font-size: 0.9em;
  margin-right: 8px;
}

.card__link {
  color: #64968c;
  text-decoration: none;
}

.card__link:hover {
  text-decoration: underline;
}

.knap{
  background-color: #3494fa;
  
}

.udvalg {
  padding-top: 79%;
  margin-bottom: 0%;
 text-align: center;
 color: #adadad;
 
 
}

hr{
background-color:  #2494fa;
margin-bottom: 4px;
width: 17rem;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  
  
}


.box{
  background-image: url(black-knight-carpany.png);
  width: 100%;
  color: #f4f4f4;
  background-size: cover;
  padding-bottom: 0%;
  
}   


/* Style the container/contact section */
.container {
  border-radius: 10px #000000;
  padding: 10px;
 


 
 
}

/* Create two columns that float next to eachother */
.column {
  float: center;
  width: 100%;
  margin-top: 6px;
  padding: 20px;
}
.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 340px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  
 
}






.videor {
  position: absolute;
  margin-top: 80px;
  
 
  
  
}